* {
	box-sizing: border-box;
}
body{
	width: auto;
	height: auto;
	background-color:#f1f1f1;
}
/* Header*/
          /*encart en haut a droite*/
header{
	background-image:url(bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.flou{
	background-color:rgba(255,255,255,0.15);
	padding: 5px;
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	color:white;
}
.sameline a{
	color:white;
	padding-left:65%;
}
.sameline img{
	padding-left:5%;
}
.nav-link{
	color:white;
	justify-content:space-between;
}


   /*Main*/
  /*Petit barre entre les titres*/

   
h3:before, h3:after {
  display:inline-block;
  vertical-align: middle;
  height:4px;
  width:30px;
  background:#f1f1f1;   
  content:""
}

     
     /*section silder*/   

.petit{
	text-align:center;
	color:grey;
}
h3{
	color:#adbc4f;
}
.noel img{
	width: 100%;
}
h2{
	color:#adbc4f;
	text-align:center;
}     
.silder{
	text-align: center;
}
   
   /*section flex*/




.photo{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
	background-color: white;
	margin-top:2%;
    margin-bottom:2%;
    padding-top:3%;
} 
.photo h3{
	width: 100%;
	text-align: center;
}
h4{
	text-align: center;
	color:black;
}
 

         /*section the*/



.the{
     background-color: white;
     padding-bottom:8%;
     margin-top:2%;
     margin-bottom:3%;
     padding-top: 3%;
     text-align:center;
     color:grey;
     vertical-align:text-top;
}
.the h4{
	color:#6e6567;
}
.the a{
	background-color:#b08f69;
}
.prix{
	color:#6e6567;
}
.produit{
	padding:4%;
	color:white;
}

    
     /*section footer*/

footer{
	background-image:url(bg.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
}
     /*haut du footer nav*/



.hautfooter{
	background-color:#869d2c;
	padding-bottom:3%;
	padding-top:1%;
}
.hautfooter nav a{
	color:white;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin:0 68px;
}
   
   /*bas du footer nav*/



nav a .fas {
	display: block;
}
.container1{
	padding-top: 3%;
	padding-bottom: 2%;
}
.container1 h5{
	color:white;
	padding-bottom: 2%;
}
.basfooter a{
	color:beige;
	text-align: center;
	display: block;
}
.basfooter2 a{
	color:beige;
	text-align: center;
	display: block;
}
.basfooter3 a{
	color:beige;
	text-align: center;
	display: block;
}

   /*small*/



#licence {
    background-image:url(bg.jpg);
	background-repeat: no-repeat;
	background-size:cover;
    color:white;
    text-align: center;
    padding: 25px;
    display: block;
}

#licence img {
    width: 30px;
    margin: 0 auto;
}

#licence a {
    color: white;
}
